.moment-list {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media (max-width: 800px) {
  .moment-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }
}
